<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Report Repository</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
    <div class="paddbtn" align="center">
        <button class="addbutton" ion-button block (click)="addRecords()">Add Records</button>
      </div>

        <ion-list *ngFor="let report of reports" lines>
          <ion-item-sliding>
            <ion-item (click)="gotoFile(report.downloadURL)">
              <h2><b>{{report.filename}}</b></h2>
              <p>Added by: {{report.recordAddedBy}}</p>
              <p>{{report.recordtype}}</p>
              <p>{{report.recorddate}}</p>
              <button ion-button icon clear item-right>
                <ion-icon name="cloud-download"></ion-icon>
              </button>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" (click)="delete(report)">Delete</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
</ion-content>
