<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>App Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <div align="center">
      <img class="doctorLogo" src="./assets/images/doctor1.png"/>
      <h1 class="doctortitle">IonDoctor</h1>
      <p class="doctorslogan">Version 0.1.2</p>
      <p class="doctorslogan">@2018 IonDoctor Inc.</p>
      <p class="doctorslogan">All rights reserved.</p>
      <p class="doctorslogan">Designed & Developed by Niyanta Softwares</p>
    </div>

</ion-content>
