page-app-info {

  .content
  {
    background-image: url('../assets/images/orange_background.png');
    background-size: cover;
    opacity: 100%;
  }

  .content div
  {
    padding-top: 60px;
  }

  .doctorLogo{
    padding: 0%;
    height: 80%;
    width: 50%;
  }

  .doctortitle{
    padding: 0%;
    color: white;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
  }

  .doctorslogan{
    margin-top: 0%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
  }

}
