<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Add Prescriptions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <form [formGroup]="authForm">
        <ion-list no-lines>
          <ion-item [ngClass]="{'error-border':!authForm.controls.medicine.valid && authForm.controls.medicine.touched}" no-lines>
            <ion-label floating>Medicine</ion-label>
            <ion-input type="text" formControlName="medicine"></ion-input>
          </ion-item>
          <p class="validerror" *ngIf="authForm.controls.medicine.hasError('required') && authForm.controls.medicine.touched">Please enter Medicine name!</p>

          <ion-item no-lines>
            <ion-label floating>Dosage</ion-label>
            <ion-input type="text" formControlName="dosage"></ion-input>
          </ion-item>
        </ion-list>
      </form>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button color="appcolor" block [disabled]="!authForm.valid" (click)="submit()">Submit</button>
      </ion-col>
      <ion-col>
        <button ion-button color="danger" block (click)="cancel()">Cancel</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
