page-register {

  .pagebg{
    background-image: url('../assets/images/orange_background.png');
    background-size: cover;
    //background-color: rgb(233, 83, 83);
  }

  .divContent{
    padding-top: 5px;
  }

  .doctorLogo{
    padding: 0%;
    height: 80%;
    width: 50%;
  }

  .doctortitle{
    padding: 0%;
    color: white;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
  }

  .doctorslogan{
    margin-top: 0%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
  }

  .validerror{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
  }

  .scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
  }

  .col{
    color:rgb(80, 78, 78);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 0%;
    padding-bottom: 0%;
  }

  ion-card.card {
		box-shadow: none;
		background: white;
		border-radius: 5px;
	}

  a,
	ion-card-header.card-header {
		color: #fff!important;
	}

	.list > .item-block:first-child {
		border: medium none;
	}

	.item {
		margin-bottom: 0%;
		background: rgba(255, 255, 255, 0.5);
		border: medium none;

		.text-input, {
			color: #bbbbbb;
		}

		input::-moz-placeholder  {
      color: #bbbbbb!important;
		}

		input:-moz-placeholder {
			color: #bbbbbb!important;
		}

		*::-webkit-input-placeholder  {
			color: #bbbbbb!important;
		}

		*:-ms-input-placeholder  {
			color: #bbbbbb!important;
		}

		*:-moz-placeholder  {
			color: #bbbbbb!important;
		}
	}

}
