<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <form [formGroup]="authForm">
        <ion-list>
          <ion-item [ngClass]="{'error-border':!authForm.controls.email.valid && authForm.controls.email.touched}" no-lines>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <p class="validationError" *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">Please enter your Email Address!</p>
        </ion-list>
      </form>

</ion-content>

<ion-footer>
    <button ion-button block color="danger" (click)="forgotPasswordClick()">Get Password</button>
  </ion-footer>
