<ion-content class="pagebg">

  <div class="divContent" align="center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="doctorLogo" src="./assets/images/doctor1.png">
          <h1 class="doctortitle">IonClinic</h1>
          <p class="doctorslogan">Search your Doctor here</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <form [formGroup]="authForm">
                <ion-list no-lines>
                  <ion-item [ngClass]="{'error-border':!authForm.controls.logintype.valid && authForm.controls.logintype.touched}" no-lines>
                    <ion-label>User Type</ion-label>
                    <ion-select formControlName="logintype">
                      <ion-option value="Patient">Patient</ion-option>
                      <ion-option value="Doctor">Doctor</ion-option>
                    </ion-select>
                  </ion-item>
                  <p class="validerror" *ngIf="authForm.controls.logintype.hasError('required') && authForm.controls.logintype.touched">Please select User Type!</p>
                  <ion-item [ngClass]="{'error-border':!authForm.controls.email.valid && authForm.controls.email.touched}" no-lines>
                    <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
                  </ion-item>
                  <p class="validerror" *ngIf="authForm.controls.email.hasError('required') && authForm.controls.email.touched">Please enter your Email ID!</p>
                  <ion-item [ngClass]="{'error-border':!authForm.controls.password.valid && authForm.controls.password.touched}" no-lines>
                    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                  </ion-item>
                  <p class="validerror" *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">Please enter your Password!</p>
                  <button ion-button block outline color="appcolor" [disabled]="!authForm.valid" (click)="login()">Login</button>
                </ion-list>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="doctorslogan" (click)="register()">New here? Create your account</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
