<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <img [src]="feedback.userdetails.profile_picture" style="width: 80px !important; height: 80px !important;">
        </ion-col>
        <ion-col col-8>
          <h1 class="highlightDoctor">{{feedback.userdetails.fullname}}</h1>
          <p>{{feedback.date}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <p>Would you like to recommend the doctor?</p>
            <p>{{feedback.recommend}}</p>
            <p>How long did you wait to be seen by the doctor?</p>
            <p>{{feedback.time}}</p>
            <p>Tell us about your experience with the doctor.</p>
            <p>{{feedback.experience}}</p>
            <section>
              <h3>Behaviour</h3>
              <ion-chip padding-left padding-right margin-right *ngFor="let behv of feedback.behaviours">
                {{behv.behaviour}}
              </ion-chip>
            </section>
            <section>
              <h3>Visit Reasons(s)</h3>
              <ion-chip padding-left padding-right margin-right *ngFor="let visit of feedback.visitreasons">
                {{visit.reason}}
              </ion-chip>
            </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
