<ion-header>

  <ion-toolbar color="appcolor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home Doctor</ion-title>
    <ion-buttons end>
      <a ion-button icon-only (click)="openMap()"><ion-icon name="navigate"></ion-icon></a>
      <a ion-button icon-only (click)="openPopover($event)"><ion-icon name="more"></ion-icon></a>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines>
    <ion-item class="user" *ngFor="let user of userData" (click)="gotoProfile()" no-lines>
      <div align="center">
        <ion-thumbnail>
          <img [src]="user.profile_picture" style="width: 90px !important; height: 90px !important;"/>
        </ion-thumbnail>
        <h2><b>{{user.fullname}}</b></h2>
        <p class="spec">{{user.doctordetails.speciality}}</p>
        <p>Click to view your profile!</p>
      </div>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>

    <ion-item (click)="gotoMyAppointments()" no-lines>
      <ion-thumbnail item-left>
        <img src="./assets/images/appointment.png" style="width: 65px !important; height: 65px !important;">
      </ion-thumbnail>
      <h2><b>My Appointments</b></h2>
      <p>View your appointments!</p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>

    <ion-item (click)="gotoAddPrescription()" no-lines>
      <ion-thumbnail item-left>
        <img src="./assets/images/prescription.png" style="width: 65px !important; height: 65px !important;">
      </ion-thumbnail>
      <h2><b>Add Prescription</b></h2>
      <p>Add prescriptions for patients!</p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>

    <ion-item (click)="gotoReportRepository()" no-lines>
      <ion-thumbnail item-left>
        <img src="./assets/images/report.png" style="width: 65px !important; height: 65px !important;">
      </ion-thumbnail>
      <h2><b>Medical Records Repository</b></h2>
      <p>Upload & view reports!</p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>

    <ion-item (click)="gotoPatientsHistory()" no-lines>
      <ion-thumbnail item-left>
        <img src="./assets/images/patient.png" style="width: 65px !important; height: 65px !important;">
      </ion-thumbnail>
      <h2><b>Patients History</b></h2>
      <p>View your patients appointment history!</p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>

    <ion-item (click)="gotoManageFeedbacks()" no-lines>
      <ion-thumbnail item-left>
        <img src="./assets/images/feedback.png" style="width: 65px !important; height: 65px !important;">
      </ion-thumbnail>
      <h2><b>Feedbacks</b></h2>
      <p>View feedbacks given by patients!</p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>

    <ion-item (click)="gotoHealthTips()" no-lines>
      <ion-thumbnail item-left>
        <img src="./assets/images/health.png" style="width: 65px !important; height: 65px !important;">
      </ion-thumbnail>
      <h2><b>Health Tips</b></h2>
      <p>Check daily health tips</p>
      <p>for a healthy life!</p>
      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
