<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-card *ngIf="appointment">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <img [src]="appointment.doctordetails.profile_picture" style="width: 80px !important; height: 80px !important;">
        </ion-col>
        <ion-col col-8>
          <h1 class="highlightDoctor">Dr. {{appointment.doctordetails.fullname}}</h1>
          <h2 class="highlightField">{{appointment.doctordetails.clinicdetails.clinicname}}</h2>
          <h2 class="highlightField">{{appointment.doctordetails.clinicdetails.speciality}}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <button ion-button color="green" (click)="callNow(appointment)"><ion-icon name="call"></ion-icon>&nbsp; Call</button>
        </ion-col>
        <ion-col col-8>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2 class="highlightDoctor">Appointment Info</h2>
          <p>Appointment for {{appointment.patientrelation}}</p>
          <p>Patient Name: {{appointment.patientname}}</p>
          <p>Patient's Gender: {{appointment.patientgender}}</p>
          <p>Patient's Age: {{appointment.patientage}}</p>
          <p>Appointment on {{appointment.appointmentdate}} at {{appointment.appointmenttime}}</p>
          <p class="highlightDoctor">{{appointment.checkuptype}}</p>
          <p>Health Issue {{appointment.patientissue}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>

<ion-footer>
  <button ion-button full color="danger">Cancel Appointment</button>
</ion-footer>
