page-profile {

  @media only screen and (max-width: 480px) {

    .display{
      height: 150px;
      width: 150px;
      border-radius: 100%;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.25);
      box-sizing: content-box;
      background-color: #eee;
    }

    .profile_cam{
      color: #ffffff;
      padding-right: 2px;
    }

    .selfie{
      background-color: #1d9e44;
      width: 30px;
      height: 45px;
      border-radius: 100%;
      position: relative;
      left: 40px;
      bottom: 30px;
    }

    .item-md .item-button {
      height: 40px;
      width: 40px;
      font-size: 1.2rem;
    }

    .profile-name{
      padding-top: 0px;
      font-size: x-large !important;
      font-weight: bold !important;
      text-transform: capitalize;
      color: grey;
    }

    .toolbar-title-md{
      padding: 0 12px;
      font-size: 2.5rem;
      font-weight: 550;
      font-family: sans-serif;
    }

    .customerName{
      padding-top: 6px;
      padding-left: 5px;
    }

    .highlightField{
      color: #1d9e44;
      font-weight: bolder;
    }

    .highlightUser{
      color: rgb(231, 104, 104);
      font-weight: bolder;
    }

    .personalDetails{
      padding-left: 5px;
    }

    .address{
      padding-left: 5px;
    }

    .loader{
      padding-top: 30%;
    }

    .loaderimg{
      height: 50%;
      width: 50%;
    }

    .loadertext{
      color: rgb(231, 104, 104);
      font-weight: bolder;
    }
  }

}
