<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <div *ngIf="!userData" class="loader" align="center">
          <img class="loaderimg" src="./assets/loading/loading5.gif">
          <h1 class="loadertext">Loading, please wait</h1>
        </div>

    <form *ngFor="let user of userData">
        <ion-item no-lines>
              <div align="center">
                <div class="display" (click)="showPicture(user)" align="center">
                  <img [src]="user.profile_picture">
                </div>
                <button clear color="appcolor" ion-button class="selfie" (click)="getPicture()">
                  &nbsp;<ion-icon name="camera" class="profile_cam"></ion-icon>
                </button>
                <h1 class="highlightUser"><b>{{user.fullname}}</b></h1>
              </div>

            </ion-item>

            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="customerName">
                      <h2 class="highlightField"><b>Personal</b></h2>
                    </div>
                  </ion-col>
                  <ion-col no-padding>
                    <div class="editButton" align="right" no-padding>
                      <button ion-button clear (click)="editPD(user)">Edit &nbsp;<ion-icon name="create"></ion-icon></button>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="personalDetails">
                      <p>Full Name: {{user.fullname}}</p>
                      <p>Email: {{user.email}}</p>
                      <p>Contact: {{user.contact}}</p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>

            <ion-card *ngIf="userType">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="customerName">
                      <h2 class="highlightField">Details</h2>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="editButton" align="right" no-padding>
                      <button ion-button clear (click)="editDD(user)">Edit &nbsp;<ion-icon name="create"></ion-icon></button>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="address">
                      <p>Speciality: {{user.doctordetails.speciality}}</p>
                      <p>Department: {{user.doctordetails.department}}</p>
                      <p>Education: {{user.doctordetails.education}}</p>
                      <p>Clinic: {{user.doctordetails.clinicname}}</p>
                      <p>Clinic Timing: {{user.doctordetails.clinictimefrom}} - {{user.doctordetails.clinictimeto}}</p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>

            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="customerName">
                      <h2 class="highlightField">Address</h2>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="editButton" align="right" no-padding>
                      <button ion-button clear (click)="editAD(user)">Edit &nbsp;<ion-icon name="create"></ion-icon></button>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="address">
                      <p>Address: {{user.address.addline1}}, {{user.address.addline2}}, {{user.address.country}}, {{user.address.state}}, {{user.address.city}} - {{user.address.postal_code}}</p>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
    </form>
</ion-content>
