<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Give Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <div class="exp">
    <h6>How was your appointment experience with Dr. {{doctordata.fullname}}</h6>
  </div>

  <form [formGroup]="authForm">
    <ion-list no-lines>
      <ion-item [ngClass]="{'error-border':!authForm.controls.recommend.valid && authForm.controls.recommend.touched}" no-lines>
        <ion-label color="primary" stacked>Would you like to recommend the doctor?</ion-label>
        <ion-select formControlName="recommend">
          <ion-option value="Yes">Yes</ion-option>
          <ion-option value="No">No</ion-option>
        </ion-select>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.recommend.hasError('required') && authForm.controls.recommend.touched">Please select Patient!</p>

      <ion-item [ngClass]="{'error-border':!authForm.controls.visitreason.valid && authForm.controls.visitreason.touched}" no-lines>
          <ion-label color="primary" stacked>For which health problem/treatment did you visit?</ion-label>
          <p>Select one or more tags.</p>
          <ion-select formControlName="visitreason" multiple="true">
            <ion-option value="Stomach Ache">Stomach Ache</ion-option>
            <ion-option value="Body Pain">Body Pain</ion-option>
          </ion-select>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.visitreason.hasError('required') && authForm.controls.visitreason.touched">Please select Patient!</p>

      <ion-item [ngClass]="{'error-border':!authForm.controls.time.valid && authForm.controls.time.touched}" no-lines>
        <ion-label color="primary" stacked>How long did you wait to be seen by the doctor?</ion-label>
        <ion-select formControlName="time">
          <ion-option value="Less than 15 min">Less than 15 min</ion-option>
          <ion-option value="15 min to 30 min">15 min to 30 min</ion-option>
          <ion-option value="30 min to 1 hour">30 min to 1 hour</ion-option>
          <ion-option value="More than 1 hour">More than 1 hour</ion-option>
        </ion-select>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.time.hasError('required') && authForm.controls.time.touched">Please select Patient!</p>

      <ion-item [ngClass]="{'error-border':!authForm.controls.behaviour.valid && authForm.controls.behaviour.touched}" no-lines>
        <ion-label color="primary" stacked>What were you most happy with?</ion-label>
        <p>Select one or more tags.</p>
        <ion-select formControlName="behaviour" multiple="true">
          <ion-option value="Doctor's friendliness">Doctor's friendliness</ion-option>
          <ion-option value="Explanation of the health issue">Explanation of the health issue</ion-option>
          <ion-option value="Treatment satisfaction">Treatment satisfaction</ion-option>
          <ion-option value="Value for money">Value for money</ion-option>
          <ion-option value="Wait time">Wait time</ion-option>
        </ion-select>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.behaviour.hasError('required') && authForm.controls.behaviour.touched">Please select Patient!</p>

      <ion-item no-lines>
        <ion-label color="primary" stacked>Tell us about your experience with the doctor.</ion-label>
        <p>Tip: eg. Share relevant stories which made you appreciate 'doctor friendliness'.</p>
        <ion-input formControlName="experience"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <div class="exp">
    <p color="primary">Note: All feedbacks go under strict moderation process before publishing to check abusive language, threats, superiative comments on medical abilities and so on.</p>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button color="green" block [disabled]="!authForm.valid" (click)="submit()">Submit</button>
        </ion-col>
        <ion-col>
          <button ion-button color="danger" block (click)="cancel()">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
