<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Find your Doctor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <div *ngIf="!doctorlist" class="loader" align="center">
    <img class="loaderimg" src="./assets/loading/loading5.gif">
    <h1 class="loadertext">Loading, please wait</h1>
  </div>

  <ion-list *ngFor="let doctor of doctorlist" no-lines>
    <ion-item (click)="view(doctor)">
      <ion-thumbnail item-left>
        <img [src]="doctor.profile_picture" style="width: 70px !important; height: 70px !important;">
      </ion-thumbnail>
      <h2><b>Dr. {{doctor.fullname}}</b></h2>
      <p>{{doctor.doctordetails.education}}</p>
      <p class="spec">{{doctor.doctordetails.speciality}}</p>
      <p>Rs. {{doctor.doctordetails.fees}}/ Session</p>
      <button ion-button icon clear color="appcolor" item-right>
      <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
    <button ion-button clear item-left color="green" (click)="callNow(doctor)"><ion-icon name="call"></ion-icon>&nbsp;Call now</button>
    <button ion-button clear item-left color="appcolor" (click)="gotoGetAppointment(doctor)">Book Appointment</button>
    <!-- <button ion-button clear item-left (click)="gotoReportRepository(doctor)">Upload Record</button> -->
  </ion-list>

</ion-content>
