<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Patients History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <h1>Comming soon in next update</h1>
</ion-content>
