<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Address Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <form [formGroup]="authForm" *ngIf="user">
        <ion-list>
            <ion-item [ngClass]="{'error-border':!authForm.controls.addline1.valid && authForm.controls.addline1.touched}" no-lines>
                <ion-label floating>Address Line 1</ion-label>
                <ion-textarea type="text" maxlength="80" formControlName="addline1" value={{user.address.addline1}}></ion-textarea>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.addline1.hasError('required') && authForm.controls.addline1.touched">Please enter your address!</p>

              <ion-item>
                <ion-label floating>Address Line 2</ion-label>
                <ion-textarea type="text" maxlength="80" formControlName="addline2" value={{user.address.addline2}}></ion-textarea>
              </ion-item>

              <ion-item [ngClass]="{'error-border':!authForm.controls.country.valid && authForm.controls.country.touched}" no-lines>
                <ion-label floating>Country</ion-label>
                <ion-select formControlName="country">
                  <ion-option value="India" selected="true">India</ion-option>
                </ion-select>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.country.hasError('required') && authForm.controls.country.touched">Please select Country!</p>

              <ion-item [ngClass]="{'error-border':!authForm.controls.state.valid && authForm.controls.state.touched}" no-lines>
                <ion-label floating>State</ion-label>
                <ion-select formControlName="state">
                  <ion-option value="New Delhi">New Delhi</ion-option>
                  <ion-option value="Uttar Pradesh">Uttar Pradesh</ion-option>
                  <ion-option value="Maharashtra">Maharashtra</ion-option>
                  <ion-option value="Tamil Nadu">Tamil Nadu</ion-option>
                </ion-select>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.state.hasError('required') && authForm.controls.state.touched">Please select State!</p>

              <ion-item [ngClass]="{'error-border':!authForm.controls.city.valid && authForm.controls.city.touched}" no-lines>
                <ion-label floating>City</ion-label>
                <ion-input type="text" formControlName="city" value={{user.address.city}}></ion-input>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.city.hasError('required') && authForm.controls.city.touched">Please enter City Name!</p>

              <ion-item [ngClass]="{'error-border':!authForm.controls.postCode.valid && authForm.controls.postCode.touched}" no-lines>
                <ion-label floating>Postal Code</ion-label>
                <ion-input type="number" formControlName="postCode" value={{user.address.postal_code}}></ion-input>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.postCode.hasError('required') && authForm.controls.postCode.touched">Please enter your Postal Code!</p>

        </ion-list>
      </form>

</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button color="appcolor" block (click)="save()">Save</button>
          </ion-col>
          <ion-col>
            <button ion-button color="danger" block (click)="cancel()">Cancel</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
