<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Records Repository</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list *ngFor="let report of reports" no-lines>
    <ion-item (click)="viewRecords(report)">
      <ion-thumbnail item-left>
        <img [src]="report.doctordetails.profile_picture" style="width: 70px !important; height: 70px !important;">
      </ion-thumbnail>
      <h2><b>Dr. {{report.doctordetails.fullname}}</b></h2>
      <p>{{report.recordtype}}</p>
      <p>{{report.recorddate}}</p>
      <button ion-button icon clear color="appcolor" item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
