page-patient-records-repository {

  .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
    margin: 9px 8px 9px 0;
  }

  .ion-item.item-ios, ion-item.item-md, ion-item.item-wp{
    padding-left: 16px;
    padding-right: 0px;
    min-height: 50px;
  }

  .item-md ion-thumbnail{
    min-width: 0px;
    min-height: 0px;
  }

  .list-md {
    margin: 0%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.loader{
  padding-top: 30%;
}

.loaderimg{
  height: 50%;
  width: 50%;
}

.loadertext{
  color: rgb(231, 104, 104);
  font-weight: bolder;
}

.spec{
  color: rgb(231, 104, 104);
    font-weight: bolder;
}

.button-md{
  height: 0%;
  margin: 0%;
  padding-left: 5px;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
}

}
