<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Map</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <div #map id="map"></div>
  <button ion-button block (click)="selectCurrentLocation()">Select Current Location</button>

</ion-content>
