<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Feedbacks</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list *ngFor="let feedback of feedbacks" no-lines>
    <ion-item (click)="viewFeedback(feedback)">
      <ion-thumbnail item-left>
        <img [src]="feedback.userdetails.profile_picture" style="width: 70px !important; height: 70px !important;">
      </ion-thumbnail>
      <h2><b>{{feedback.userdetails.fullname}}</b></h2>
      <p>On {{feedback.date}}</p>
      <button ion-button icon clear color="appcolor" item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
