<ion-header>

  <ion-toolbar color="appcolor">
    <ion-title>Home Patient</ion-title>
    <ion-buttons end>
      <a ion-button icon-only (click)="openMap()"><ion-icon name="navigate"></ion-icon></a>
      <a ion-button icon-only (click)="openPopover($event)"><ion-icon name="more"></ion-icon></a>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content no-padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-list no-lines>
        <ion-item class="user" *ngFor="let user of userData" (click)="gotoProfile()" no-lines>
          <div align="center">
            <ion-thumbnail>
              <img [src]="user.profile_picture" style="width: 90px !important; height: 90px !important;"/>
            </ion-thumbnail>
            <h2><b>{{user.fullname}}</b></h2>
            <p>{{user.age}} {{user.gender}}</p>
            <p>Click to view your profile!</p>
          </div>
          <button ion-button icon clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>

        <ion-item (click)="gotoDoctorsList()" no-lines>
          <ion-thumbnail item-left>
            <img src="./assets/images/doctors.png" style="width: 65px !important; height: 65px !important;">
          </ion-thumbnail>
          <h2><b>Find your doctor</b></h2>
          <p>Find Doctors, clinics, diagnostic labs,</p>
          <p>hospitals and more</p>
          <button ion-button icon clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>

        <ion-item (click)="gotoMyAppointments()" no-lines>
          <ion-thumbnail item-left>
            <img src="./assets/images/appointment.png" style="width: 65px !important; height: 65px !important;">
          </ion-thumbnail>
          <h2><b>My Appointments</b></h2>
          <p>Check your current</p>
          <p>& previous appointment details!</p>
          <button ion-button icon clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>

        <ion-item (click)="gotoViewPrescription()" no-lines>
          <ion-thumbnail item-left>
            <img src="./assets/images/prescription.png" style="width: 65px !important; height: 65px !important;">
          </ion-thumbnail>
          <h2><b>View Prescription</b></h2>
          <p>Check prescriptions</p>
          <p>given by a doctor!</p>
          <button ion-button icon clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>

        <ion-item (click)="gotoReportRepository()" no-lines>
          <ion-thumbnail item-left>
            <img src="./assets/images/report.png" style="width: 65px !important; height: 65px !important;">
          </ion-thumbnail>
          <h2><b>Medical Records Repository</b></h2>
          <p>Upload prescriptions, reports and more!</p>
          <button ion-button icon clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>

        <ion-item (click)="gotoGetAppointment()" no-lines>
          <ion-thumbnail item-left>
            <img src="./assets/images/appointment2.png" style="width: 65px !important; height: 65px !important;">
          </ion-thumbnail>
          <h2><b>Get an Appointment</b></h2>
          <p>Find a doctor</p>
          <p>& get an appointment</p>
          <button ion-button icon clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>

        <ion-item (click)="gotoHealthTips()" no-lines>
          <ion-thumbnail item-left>
            <img src="./assets/images/health.png" style="width: 65px !important; height: 65px !important;">
          </ion-thumbnail>
          <h2><b>Health Tips</b></h2>
          <p>Check daily health tips</p>
          <p>for a healthy life!</p>
          <button ion-button icon clear item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>
      </ion-list>

</ion-content>
