page-home-patient {

  .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
    margin: 9px 8px 9px 0;
  }

  .ion-item.item-ios, ion-item.item-md, ion-item.item-wp{
    padding-left: 16px;
    padding-right: 0px;
    min-height: 50px;
  }

  .item-md ion-thumbnail{
    min-width: 0px;
    min-height: 0px;
  }

  .user{
    background-color: rgba(241, 215, 215, 0.555);
  }

}
