<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <ion-card *ngIf="appointment">
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <img [src]="appointment.userdetails.profile_picture" style="width: 80px !important; height: 80px !important;">
            </ion-col>
            <ion-col col-8>
              <h1 class="highlightDoctor">{{appointment.userdetails.fullname}}</h1>
              <h2 class="highlightField">{{appointment.checkuptype}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <button ion-button color="green" (click)="callNow(appointment)"><ion-icon name="call"></ion-icon>&nbsp; Call</button>
            </ion-col>
            <ion-col col-8>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2 class="highlightDoctor">Appointment Info</h2>
              <p>Appointment for {{appointment.patientrelation}}</p>
              <p>Patient Name: {{appointment.patientname}}</p>
              <p>Patient's Gender: {{appointment.patientgender}}</p>
              <p>Patient's Age: {{appointment.patientage}}</p>
              <p>Appointment on {{appointment.appointmentdate}} at {{appointment.appointmenttime}}</p>
              <p class="highlightDoctor">{{appointment.checkuptype}}</p>
              <p>Health Issue {{appointment.patientissue}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <hr>
        <div align="center">
          <button ion-button block (click)="uploadReports()">Send Medical Records &nbsp;<ion-icon name="cloud-upload"></ion-icon></button>
          <p>(Send/upload your reports, prescriptions etc.)</p>
        </div>
      </ion-card>

</ion-content>

<ion-footer>
    <button ion-button full color="danger">Cancel Appointment</button>
  </ion-footer>
