<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Health Tips</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <div style="width:100%; height:100%;">
    <iframe style="width:100%; height:100%;" src="http://www.ba-bamail.com/content.aspx?emailid=24415"></iframe>
  </div>
</ion-content>
