<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Doctor Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <form [formGroup]="authForm" *ngIf="user">
        <ion-list>
            <ion-item no-lines>
                <ion-label floating>Clinic Name</ion-label>
                <ion-input type="text" formControlName="clinicname" value={{user.clinicname}}></ion-input>
              </ion-item>

              <ion-item [ngClass]="{'error-border':!authForm.controls.education.valid && authForm.controls.education.touched}" no-lines>
                  <ion-label floating>Education</ion-label>
                  <ion-input type="text" formControlName="education" value={{user.doctordetails.education}}></ion-input>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.education.hasError('required') && authForm.controls.education.touched">Please enter your Education!</p>

              <ion-item no-lines>
                  <ion-label floating>Department</ion-label>
                  <ion-input type="text" formControlName="department" value={{user.doctordetails.department}}></ion-input>
              </ion-item>

              <ion-item [ngClass]="{'error-border':!authForm.controls.speciality.valid && authForm.controls.speciality.touched}" no-lines>
                  <ion-label floating>Specility</ion-label>
                  <ion-input type="text" formControlName="speciality" value={{user.doctordetails.speciality}}></ion-input>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.speciality.hasError('required') && authForm.controls.speciality.touched">Please enter your Specility!</p>

              <ion-item [ngClass]="{'error-border':!authForm.controls.experience.valid && authForm.controls.experience.touched}" no-lines>
                  <ion-label floating>Experience (in years)</ion-label>
                  <ion-input type="number" formControlName="experience" value={{user.doctordetails.experience}}></ion-input>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.experience.hasError('required') && authForm.controls.experience.touched">Please enter your Experience!</p>

              <ion-item no-lines>
                  <ion-label floating>Fees (in rs.)</ion-label>
                  <ion-input type="number" formControlName="fees" value={{user.doctordetails.fees}}></ion-input>
              </ion-item>

              <ion-item no-lines>
                  <ion-label floating>Clinic Time From</ion-label>
                  <ion-datetime displayFormat="hh:mm A" formControlName="clinictimefrom"></ion-datetime>
              </ion-item>

              <ion-item no-lines>
                  <ion-label floating>Clinic Time To</ion-label>
                  <ion-datetime displayFormat="hh:mm A" formControlName="clinictimeto"></ion-datetime>
              </ion-item>

        </ion-list>
      </form>

</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button color="primary" block [disabled]="!authForm.valid" (click)="save()">Save</button>
          </ion-col>
          <ion-col>
            <button ion-button color="danger" block (click)="cancel()">Cancel</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
