<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Save Address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <form>
    <ion-list no-lines>
      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input value={{current.address}}></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Lat</ion-label>
        <ion-input value={{current.coords.lat}}></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Lng</ion-label>
        <ion-input value={{current.coords.lng}}></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
