<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Upload Records</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <form [formGroup]="authForm" *ngFor="let user of userdata">
        <ion-list no-lines>
          <ion-item [ngClass]="{'error-border':!authForm.controls.file.valid && authForm.controls.file.touched}" no-lines>
            <input class="file-input" formControlName="file" type="file" (change)="detectFiles($event)">
          </ion-item>
          <p class="validerror" *ngIf="authForm.controls.file.hasError('required') && authForm.controls.file.touched">Please select file!</p>

          <ion-item [ngClass]="{'error-border':!authForm.controls.patientrelation.valid && authForm.controls.patientrelation.touched}" no-lines>
            <ion-label floating>Who is the patient? (Record for?)</ion-label>
            <ion-select formControlName="patientrelation">
              <ion-option value="Myself" (ionSelect)="selectRelation('Myself');">Myself</ion-option>
              <ion-option value="Father" (ionSelect)="selectRelation('Father');">Father</ion-option>
              <ion-option value="Mother" (ionSelect)="selectRelation('Mother');">Mother</ion-option>
              <ion-option value="Wife" (ionSelect)="selectRelation('Wife');">Wife</ion-option>
              <ion-option value="Husband" (ionSelect)="selectRelation('Husband');">Husband</ion-option>
              <ion-option value="Son" (ionSelect)="selectRelation('Son');">Son</ion-option>
              <ion-option value="Daughter" (ionSelect)="selectRelation('Daughter');">Daughter</ion-option>
              <ion-option value="Relative" (ionSelect)="selectRelation('Relative');">Relative</ion-option>
              <ion-option value="Other" (ionSelect)="selectRelation('Other');">Other</ion-option>
            </ion-select>
          </ion-item>
          <p class="validerror" *ngIf="authForm.controls.patientrelation.hasError('required') && authForm.controls.patientrelation.touched">Please select Patient!</p>

          <ion-item [ngClass]="{'error-border':!authForm.controls.patientname.valid && authForm.controls.patientname.touched}" no-lines>
            <ion-label floating>Patient's Full Name</ion-label>
            <ion-input type="text" formControlName="patientname" value="{{user.fullname}}"></ion-input>
          </ion-item>
          <p class="validerror" *ngIf="authForm.controls.patientname.hasError('required') && authForm.controls.patientname.touched">Please enter Patient's full name!</p>

          <ion-item [ngClass]="{'error-border':!authForm.controls.recordtype.valid && authForm.controls.recordtype.touched}" no-lines>
            <ion-label floating>Type of record</ion-label>
            <ion-select formControlName="recordtype">
              <ion-option value="Report">Report</ion-option>
              <ion-option value="Prescription">Prescription</ion-option>
              <ion-option value="Invoice">Invoice</ion-option>
            </ion-select>
          </ion-item>
          <p class="validerror" *ngIf="authForm.controls.recordtype.hasError('required') && authForm.controls.recordtype.touched">Please select Record Type!</p>

          <ion-item [ngClass]="{'error-border':!authForm.controls.recorddate.valid && authForm.controls.recorddate.touched}" no-lines>
            <ion-label floating>Record created on</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="recorddate"></ion-datetime>
          </ion-item>
          <p class="validerror" *ngIf="authForm.controls.recorddate.hasError('required') && authForm.controls.recorddate.touched">Please select date!</p>
        </ion-list>
      </form>

      <!-- <div *ngIf="currentUpload">
      <div class="progress">
        <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
      </div>
      Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
    </div> -->

          <!-- <label>
             <input type="file" (change)="detectFiles($event)" multiple>
          </label>

            <button
                    [disabled]="!selectedFiles"
                    (click)="uploadMulti()">

              Upload Multiple
            </button> -->

</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button block ion-button [disabled]="!selectedFiles" (click)="uploadSingle()" item-right>
              <ion-icon name="cloud-upload"></ion-icon>
              &nbsp; Upload
            </button>
          </ion-col>
          <ion-col>
            <button block ion-button color="danger" (click)="cancel()">
              Cancel
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
