<ion-header>

  <ion-navbar color="appcolor">
    <ion-title *ngIf="user">Dr. {{user.fullname}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-card class="doctordetails" *ngIf="user">
    <ion-item no-lines>
      <div align="center">
        <div class="display" (click)="showPicture(user)" align="center">
          <img [src]="user.profile_picture">
        </div>
        <h1 class="highlightDoctor"><b>Dr. {{user.fullname}}</b></h1>
        <h2 class="highlightField">{{user.doctordetails.clinicname}}</h2>
        <h2 class="highlightField">{{user.doctordetails.speciality}}</h2>
        <button ion-button clear (click)="gotoSendFeedback()">Give Feedback</button>
      </div>
    </ion-item>
    <hr>
    <p>Clinic Name: <b>{{user.doctordetails.clinicname}}</b></p>
    <ion-grid>
      <ion-row>
        <ion-col class="timefees">
          <div class="timefees" align="center">
            <p>Timing</p>
            <p><b>{{user.doctordetails.clinictimefrom}} - {{user.doctordetails.clinictimeto}}</b></p>
          </div>
        </ion-col>
        <ion-col class="timefees">
          <div class="timefees" align="center">
            <p>Fee</p>
            <p><b>Rs. {{user.doctordetails.fees}}/ Session</b></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>Clinic Address: <b>{{user.address.addline1}}, {{user.address.addline2}}, {{user.address.country}}, {{user.address.state}}, {{user.address.city}} - {{user.address.postal_code}}</b></p>
    <hr>
    <div align="center">
      <h2 class="aboutdoctor"><b>About Doctor</b></h2>
    </div>
    <p>Hi, I have <b>{{user.doctordetails.experience}} years</b> of experience in <b>{{user.doctordetails.department}}</b></p>
    <p>My education is in <b>{{user.doctordetails.education}}</b></p>
    <p>My speciality is in <b>{{user.doctordetails.speciality}}</b></p>
    <hr>
    <div align="center">
      <button ion-button block (click)="uploadReports()">Send Medical Records &nbsp;<ion-icon name="cloud-upload"></ion-icon></button>
      <p>(Send/upload your reports, prescriptions etc.)</p>
    </div>
  </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button color="green" block (click)="call()"><ion-icon name="call"></ion-icon>&nbsp; Call</button>
          </ion-col>
          <ion-col col-8>
            <button ion-button color="appcolor" block (click)="gotoGetAppointment()">Get an appointment</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
