<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Get Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <form [formGroup]="authForm" *ngFor="let user of userData" >
    <ion-list no-lines>
      <ion-item [ngClass]="{'error-border':!authForm.controls.patientrelation.valid && authForm.controls.patientrelation.touched}" no-lines>
        <ion-label floating>Who is the patient?</ion-label>
        <ion-select formControlName="patientrelation">
          <ion-option value="Myself" (ionSelect)="selectRelation('Myself');">Myself</ion-option>
          <ion-option value="Father" (ionSelect)="selectRelation('Father');">Father</ion-option>
          <ion-option value="Mother" (ionSelect)="selectRelation('Mother');">Mother</ion-option>
          <ion-option value="Wife" (ionSelect)="selectRelation('Wife');">Wife</ion-option>
          <ion-option value="Husband" (ionSelect)="selectRelation('Husband');">Husband</ion-option>
          <ion-option value="Son" (ionSelect)="selectRelation('Son');">Son</ion-option>
          <ion-option value="Daughter" (ionSelect)="selectRelation('Daughter');">Daughter</ion-option>
          <ion-option value="Relative" (ionSelect)="selectRelation('Relative');">Relative</ion-option>
          <ion-option value="Other" (ionSelect)="selectRelation('Other');">Other</ion-option>
        </ion-select>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.patientrelation.hasError('required') && authForm.controls.patientrelation.touched">Please select Patient!</p>

      <ion-item [ngClass]="{'error-border':!authForm.controls.patientname.valid && authForm.controls.patientname.touched}" no-lines>
        <ion-label floating>Patient's Full Name</ion-label>
        <ion-input type="text" formControlName="patientname" value="{{user.fullname}}"></ion-input>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.patientname.hasError('required') && authForm.controls.patientname.touched">Please enter Patient's full name!</p>


      <ion-item [ngClass]="{'error-border':!authForm.controls.patientgender.valid && authForm.controls.patientgender.touched}" no-lines>
        <ion-label floating>Gender</ion-label>
        <ion-select formControlName="patientgender">
          <ion-option value="Male">Male</ion-option>
          <ion-option value="Female">Female</ion-option>
        </ion-select>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.patientgender.hasError('required') && authForm.controls.patientgender.touched">Please select Patient's gender!</p>

      <ion-item [ngClass]="{'error-border':!authForm.controls.patientage.valid && authForm.controls.patientage.touched}" no-lines>
        <ion-label floating>Age</ion-label>
        <ion-input type="number" formControlName="patientage"></ion-input>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.patientage.hasError('required') && authForm.controls.patientage.touched">Please enter Patient's age!</p>

      <ion-item [ngClass]="{'error-border':!authForm.controls.appointmentdate.valid && authForm.controls.appointmentdate.touched}" no-lines>
        <ion-label floating>Appointment Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="appointmentdate"></ion-datetime>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.appointmentdate.hasError('required') && authForm.controls.appointmentdate.touched">Please select Appointment date!</p>

      <ion-item [ngClass]="{'error-border':!authForm.controls.checkuptype.valid && authForm.controls.checkuptype.touched}" no-lines>
        <ion-label floating>Check-up Type</ion-label>
        <ion-select formControlName="checkuptype">
          <ion-option value="Regular Check-Up">Regular Check-Up</ion-option>
          <ion-option value="Fever Check-Up">Fever Check-Up</ion-option>
          <ion-option value="Heart Problem">Heart Problem</ion-option>
          <ion-option value="Headache">Headache</ion-option>
          <ion-option value="Injury">Injury</ion-option>
          <ion-option value="Blood Test">Blood Test</ion-option>
          <ion-option value="Reports">Reports</ion-option>
          <ion-option value="Other">Other</ion-option>
        </ion-select>
      </ion-item>
      <p class="validerror" *ngIf="authForm.controls.checkuptype.hasError('required') && authForm.controls.checkuptype.touched">Please select Checkup type!</p>

      <ion-item no-lines>
        <ion-label floating>Health issue in detail</ion-label>
        <ion-input type="text" formControlName="patientissue"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button color="appcolor" block [disabled]="!authForm.valid" (click)="submit()">Submit</button>
        </ion-col>
        <ion-col>
          <button ion-button color="danger" block (click)="cancel()">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-footer>
