<ion-list>
  <ion-list-header color="primary">Settings</ion-list-header>
  <button ion-item (click)="appInfo()">App Info</button>
  <button ion-item (click)="forgotPassword()">Forgot Password</button>
  <button ion-item (click)="logout()">Logout</button>
</ion-list>
