<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Personal Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <form [formGroup]="authForm" *ngIf="user">
        <ion-list>
            <ion-item [ngClass]="{'error-border':!authForm.controls.fullname.valid && authForm.controls.fullname.touched}" no-lines>
                <ion-label floating>Full Name</ion-label>
                <ion-input type="text" formControlName="fullname" value={{user.fullname}}></ion-input>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.fullname.hasError('required') && authForm.controls.fullname.touched">Please enter your Full Name!</p>

              <ion-item [ngClass]="{'error-border':!authForm.controls.contact.valid && authForm.controls.contact.touched}" no-lines>
                  <ion-label floating>Contact</ion-label>
                  <ion-input type="number" formControlName="contact" value={{user.contact}}></ion-input>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.contact.hasError('required') && authForm.controls.contact.touched">Please enter your Contact Number!</p>

              <ion-item no-lines>
                  <ion-label floating>Email</ion-label>
                  <ion-input type="email" formControlName="email" value={{user.email}} disabled="true"></ion-input>
              </ion-item>

              <ion-item [ngClass]="{'error-border':!authForm.controls.age.valid && authForm.controls.age.touched}" no-lines>
                  <ion-label floating>Age</ion-label>
                  <ion-input type="number" formControlName="age" value={{user.age}}></ion-input>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.age.hasError('required') && authForm.controls.age.touched">Please enter your Age!</p>

              <ion-item [ngClass]="{'error-border':!authForm.controls.gender.valid && authForm.controls.gender.touched}" no-lines>
                <ion-label floating>Gender</ion-label>
                <ion-select formControlName="gender">
                  <ion-option value="Male">Male</ion-option>
                  <ion-option value="Female">Female</ion-option>
                </ion-select>
              </ion-item>
              <p class="validationError" *ngIf="authForm.controls.gender.hasError('required') && authForm.controls.gender.touched">Please select your Gender!</p>

        </ion-list>
      </form>

</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button color="primary" block (click)="save()">Save</button>
          </ion-col>
          <ion-col>
            <button ion-button color="danger" block (click)="cancel()">Cancel</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
