<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Prescriptions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <div *ngIf="!appointments" class="loader" align="center">
        <img class="loaderimg" src="./assets/loading/loading5.gif">
        <h1 class="loadertext">Loading, please wait</h1>
      </div>

      <ion-list *ngFor="let app of appointments" no-lines>
        <ion-item (click)="view(app)">
          <ion-thumbnail item-left>
            <img [src]="app.userdetails.profile_picture" style="width: 70px !important; height: 70px !important;">
          </ion-thumbnail>
          <h2><b>{{app.userdetails.fullname}}</b></h2>
          <p>Appointment for {{app.patientrelation}}</p>
          <p class="checkup">{{app.checkuptype}}</p>
          <p>On {{app.appointmentdate}} at {{app.appointmenttime}}</p>
          <button ion-button icon clear color="appcolor" item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-item>
        <!-- <button ion-button clear item-left color="danger" (click)="gotoAddPrescription(app)">Add Prescription</button> -->
      </ion-list>

</ion-content>
